.container{
    background-color: #292929;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    align-items: center;
 margin-bottom: 36px;
    display: flex;
    flex-direction: column

}
.title {
    color: white;
    font-family: monospace;
    padding-top: 24px;
}
.wrapperColor{
    display: flex;
    align-self: center;
    height: 60vh;
    flex-direction: row; 
    justify-content: center;
    padding: 4px;
    margin: 36px;


    text-align: center;

    

    font-family: monospace;

    
}

.btnGerarpaleta{
    background-color: white;
    padding: 0.5rem;
    border: 2px #fff solid;
    width: 160px;
    color:  #292929;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: monospace;
    
}




.boxColor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    width: 150px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 400;
} 

.btn{
    background-color: transparent;
    padding: 0.5rem;
    border: 2px #fff solid;
    width: 120px;
    color: #fff;
    border-radius: 8px;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 400;
    
}

@media screen and (max-width: 768px) {
    .boxColor{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .wrapperColor{
        flex-direction: column;
        width: 100%;

    }
}


