.container{
    position: fixed;
    bottom: 1rem;
    width: 100%;
    background-color: #292929;
    font-family: monospace;
   display: flex;
   align-items: center;
   justify-content: center;


    

    
    
}